.input-group-text {
  text-transform: capitalize;
}

.remove-button {
  background-color: transparent;
  color: white;
  border-width: 0;
  font-size: 12px;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  top: -22px;
}

.badge {
  margin-right: 5px;
  margin-bottom: 5px;
}