<form class="email-form"
  [formGroup]="emailFormGroup"
  (ngSubmit)="submit()">

  <sm-multi-email-input id="to"
    isRequired="true"
    (onUpdate)="updateRecipientEmails($event)">
  </sm-multi-email-input>

  <sm-multi-email-input id="cc"
    isRequired="false"
    (onUpdate)="updateCcEmails($event)">
  </sm-multi-email-input>

  <sm-multi-email-input id="bcc"
    isRequired="false"
    (onUpdate)="updateBccEmails($event)">
  </sm-multi-email-input>

  <div class="input-group mb-3"
    [ngClass]="{ 'form-group--error': emailFormGroup.get('from').errors }">
    <div class="input-group-prepend">
      <span class="input-group-text"
        id="from-addon">
        From
      </span>
    </div>

    <input type="text"
      class="form-control"
      formControlName="from"
      aria-label="from email address"
      aria-describedby="from-addon">
  </div>

  <div class="input-group mb-3"
    [ngClass]="{ 'form-group--error': emailFormGroup.get('subject').errors }">
    <div class="input-group-prepend">
      <span class="input-group-text"
        id="subject-addon">
        Subject
      </span>
    </div>

    <input type="text"
      class="form-control"
      formControlName="subject"
      aria-label="subject email address"
      aria-describedby="subject-addon">
  </div>

  <div *ngIf="emailFormGroup.get('subject').errors && emailFormGroup.get('subject').touched"
    class="alert alert-danger"
    role="alert">
    <span *ngIf="!emailFormGroup.get('subject').errors.maxLength">Please enter no more than 78 characters</span>
  </div>

  <div [ngClass]="{ 'form-group--error': emailFormGroup.get('body').errors }"
    class="input-group body-input">
    <div class="input-group-prepend">
      <span class="input-group-text">Body</span>
    </div>
    <textarea class="form-control"
      rows="8"
      formControlName="body"
      aria-label="email body">
    </textarea>
  </div>

  <div *ngIf="errorMessage"
    class="alert alert-danger submit-message"
    role="alert">
    message
  </div>

  <div *ngIf="isSent"
    class="alert alert-success submit-message"
    role="alert">
    You email has been sent successfully!
  </div>

  <button type="submit"
    class="btn btn-primary"
    [disabled]="emailFormGroup.invalid || isSending">
    <span *ngIf="!isSending">Send</span>
    <span *ngIf="isSending">Waiting&hellip;</span>
  </button>
</form>