<form class="email-form card"
  [formGroup]="emailFormGroup"
  (ngSubmit)="submit()">

  <div class="input-group mb-4">
    <div class="input-group-prepend">
      <span class="input-group-text"
        id="from-addon">
        From
      </span>
    </div>

    <input type="text"
      class="form-control"
      aria-label="from email address"
      value="sender@mail.com"
      aria-describedby="from-addon"
      disabled>
  </div>

  <div class="multi-email-input-container">
    <sm-multi-email-input id="to"
      formControlName="to">
    </sm-multi-email-input>

    <div *ngIf="emailFormGroup.get('to').errors && emailFormGroup.get('to').touched"
      class="alert alert-danger arrow"
      role="alert">
      <span *ngIf="emailFormGroup.get('to').errors['required']">
        Please enter an email
      </span>
      <span *ngIf="!emailFormGroup.get('to').errors['required']">
        Please enter an valid email
      </span>
    </div>
  </div>

  <div class="multi-email-input-container">
    <sm-multi-email-input id="cc"
      formControlName="cc">
    </sm-multi-email-input>

    <div *ngIf="emailFormGroup.get('cc').errors && emailFormGroup.get('cc').touched"
      class="alert alert-danger arrow"
      role="alert">
      <span>
        Please enter an valid email
      </span>
    </div>
  </div>

  <div class="multi-email-input-container">
    <sm-multi-email-input id="bcc"
      formControlName="bcc">
    </sm-multi-email-input>

    <div *ngIf="emailFormGroup.get('bcc').errors && emailFormGroup.get('bcc').touched"
      class="alert alert-danger arrow"
      role="alert">
      <span>
        Please enter an valid email
      </span>
    </div>
  </div>

  <div class="input-group mb-4">
    <div class="input-group-prepend">
      <span class="input-group-text"
        id="subject-addon">
        Subject
      </span>
    </div>

    <input type="text"
      class="form-control"
      formControlName="subject"
      aria-label="subject email address"
      aria-describedby="subject-addon">

    <div *ngIf="emailFormGroup.get('subject').errors && emailFormGroup.get('subject').touched"
      class="alert alert-danger arrow"
      role="alert">
      <span *ngIf="!emailFormGroup.get('subject').errors.maxLength">
        No more than 78 characters
      </span>
    </div>
  </div>


  <div class="input-group body-input mb-4">
    <div class="input-group-prepend">
      <span class="input-group-text">Body</span>
    </div>

    <textarea class="form-control"
      rows="4"
      formControlName="body"
      aria-label="email body">
    </textarea>

    <div *ngIf="emailFormGroup.get('body').errors && emailFormGroup.get('body').touched"
      class="alert alert-danger arrow"
      role="alert">
      <span *ngIf="!emailFormGroup.get('body').errors.maxLength">
        No more than 1000 characters
      </span>
    </div>
  </div>

  <div *ngIf="isErrorShown"
    class="alert alert-danger submit-message"
    role="alert">
    Something went wrong, please try again later.
  </div>

  <div *ngIf="isSent"
    class="alert alert-success submit-message"
    role="alert">
    You email has been sent successfully!
  </div>

  <button type="button"
    class="btn btn-primary"
    (click)="submit()"
    [disabled]="emailFormGroup.invalid || isSending">
    <span *ngIf="!isSending">Send email</span>
    <span *ngIf="isSending">Please waiting&hellip;</span>
  </button>
</form>