$arrow-width: 5px;

.card {
  padding: 20px;
  position: relative;
}

.arrow::before {
  content: '';
  position: absolute;
  top: -$arrow-width;
  left: 50%;
  margin-left: -$arrow-width;
  color: #f5c6cb;
  border-left: $arrow-width solid transparent;
  border-right: $arrow-width solid transparent;
  border-bottom: $arrow-width solid currentColor;
}

.input-group, .multi-email-input-container {
  .alert {
    position: absolute;
    padding: 0;
    z-index: 5;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);

    span {
      padding: 10px;
    }
  }
}

.multi-email-input-container {
  position: relative;
}